<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nullvoid.blooddonation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-sdk android:minSdkVersion="11" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeNoActionBar"></activity>

        <activity
            android:name=".DoneeRequestActivity"
            android:label="Request Blood"
            android:theme="@style/AppThemeNoActionBar"></activity>

        <activity
            android:name=".DonorRegistrationActivity"
            android:label="Donor Registration"
            android:theme="@style/AppThemeNoActionBar" />

        <activity
            android:name=".admin.AdminDonneActivity"
            android:label="Donnes"
            android:theme="@style/AppThemeNoActionBar" />

        <activity
            android:name=".admin.DonorSelectionActivity"
            android:label="Select a Donor"
            android:theme="@style/AppThemeNoActionBar" />

        <activity
            android:name=".DonorProfileActivity"
            android:label="Profile"
            android:theme="@style/AppThemeNoActionBar"/>

        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.AdminConsoleActivity"
            android:label="Admin Console"
            android:theme="@style/AppThemeNoActionBar" />

        <activity android:name=".admin.AdminDonorActivity"
            android:label="Donors"
            android:theme="@style/AppThemeNoActionBar"/>
    </application>

</manifest>